inner-column {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}


.header {
    display: block;
    width: 550px;
    height: 260px;
    background-image: linear-gradient(to right, #ED4880, #F38B17);
}

#unit, #unitNum {
    padding-top: 35px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32;
    line-height: 38px;
    text-align: center;
}

#unitNum{
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    background-image: linear-gradient(to right, #ED4880, #F38B17);
    color: #FFFFFF;
}

#myButton {
   border-radius: 8px;
   display: inline-block;
   margin-left: 210px;
   padding: 10px 10px;
   font-size: 16px;
   color:#FFFFFF;
   background-color: #ED4880;
}

.main {
   display: block; 
   width: 550px;
   height: 260px;
   
}

#length, #volume, #mass {
    display: block;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-align: center;
    /* padding-bottom: 22px; */
}

#lengthNum, #volumeNum, #massNum {
    display: block;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
    text-align: center;
    
}
